---
import PagefindConfig from 'astro-pagefind/components/PagefindConfig.astro';
---
<div class="search">
  <PagefindConfig />
  <pagefind-searchbox></pagefind-searchbox>
</div>
<style>
  .search { margin: 0 0 2rem; }
</style>
